NODE_ENV=development
COMPOSE_PROJECT_NAME=agid-forms

#
# BACKEND
#
BACKEND_HOST=backend-127-0-0-1.nip.io
AUTHENTICATION_BASE_PATH=""
WEBHOOK_USER_LOGIN_BASE_URL=http://backend-127-0-0-1.nip.io
ORGANIZATION_NAME=AGID
SERVICE_NAME=Agenzia per l\'Italia Digitale
AUTHMAIL_FROM=no-reply@agid.gov.it
AUTHMAIL_REPLY_TO=no-reply@agid.gov.it
# TODO: delete the following line when in production
AUTHMAIL_TEST_ADDRESS=test@agid.gov.it
# 30 days
TOKEN_DURATION_IN_SECONDS=2592000

SMTP_CONNECTION_URL=smtp://user:pass@smtp.mailtrap.io:2525/?pool=true

# needed to authenticate against inbound webhook
WEBHOOK_JWT_SECRET=foobar

# needed to authenticate against hasura
JWT_SECRET=foobar

#
# POSTGRESQL
#
# POSTGRES_USERNAME=postgres
POSTGRESQL_PASSWORD=foobar
POSTGRESQL_DATABASE=agid-forms
POSTGRESQL_INITDB_WALDIR=/bitnami/wal-logs

#
# HASURA
#
HASURA_HOST=hasura-127-0-0-1.nip.io
HASURA_EXTERNAL_PORT=8080
HASURA_GRAPHQL_ENDPOINT=http://hasura-127-0-0-1.nip.io/v1/graphql
HASURA_GRAPHQL_UNAUTHORIZED_ROLE=anonymous

# must be the local address used inside the docker network
EVENTS_WEBHOOK_URL=http://backend/api/v1/graphql/events

# use hasura console manually, needed to secure hasura installation
HASURA_GRAPHQL_ENABLE_CONSOLE=false

# PostgreSQL connection
HASURA_GRAPHQL_DATABASE_URL=postgres://postgres:foobar@postgresql:5432/agid-forms

HASURA_WEBHOOK_SECRET=foobar

HASURA_GRAPHQL_ADMIN_SECRET=foobar
HASURA_GRAPHQL_JWT_SECRET={"type":"HS256","key":"foobar"}

#
# REDIS
#
REDIS_HOST=redis
REDIS_URL=redis
REDIS_PORT=6379
REDIS_PASSWORD=foobar
REDIS_TIMEOUT=300
REDIS_TCP_KEEPALIVE=60
REDIS_MAXMEMORY=512m

#
# TRAEFIK
#
TRAEFIK_DOMAIN=nip.io
TRAEFIK_DASHBOARD_PORT=7777
TRAEFIK_ACME_EMAIL=test@agid.gov.it
TRAEFIK_DASHBOARD_USER=traefik
TRAEFIK_DASHBOARD_PASSWORD=$2y$foobar

#
# MINIO
#

# internal name used by docker network
MINIO_SERVER_HOST=minio

MINIO_ACCESS_KEY=foobar-1

MINIO_SECRET_KEY=foobar-2

# the docker image creates this buckets on startup
MINIO_DEFAULT_BUCKETS=agid-forms-uploads
MINIO_SERVER_PORT_NUMBER=9000

UPLOAD_SERVER_PORT=9000
UPLOAD_SERVER_HOST=uploads-127-0-0-1.nip.io

OMBUDSMAN_EMAIL=protocollo@pec.agid.gov.it
